<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Exporter to Word/Excel/PDF", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new {area = ""}, null)</li>
                    <li><a href="~/swagger">API Test (Swagger)</a></li>
                    <li>@Html.ActionLink("API", "Index", "Help", new {area = ""}, null)</li>
                    <li><a href="~/Home/ExportData">Demo</a></li>
</ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Exporter to Word/Excel/PDF from Classes/DataTable/CSV/JSON</p>
            <p>More details at <a href="http://ignatandrei.github.io/Exporter/" target="_blank">http://ignatandrei.github.io/Exporter/</a> </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<style>#forkongithub a {background: #000;color: #fff;text-decoration: none;font-family: arial, sans-serif;text-align: center;font-weight: bold;padding: 5px 40px;font-size: 1rem;line-height: 2rem;position: relative;transition: 0.5s;}#forkongithub a:hover {background: #c11;color: #fff;}#forkongithub a::before, #forkongithub a::after {content: "";width: 100%;display: block;position: absolute;top: 1px;left: 0;height: 1px;background: #fff;}#forkongithub a::after {bottom: 1px;top: auto;}@@media screen and ( min-width:800px ) {#forkongithub {position: absolute;display: block;top: 0;right: 0;width: 200px;overflow: hidden;height: 200px;z-index: 9999;}#forkongithub a {width: 200px;position: absolute;top: 60px;right: -60px;transform: rotate(45deg);-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);}} </style><span id="forkongithub"><a href="http://ignatandrei.github.io/Exporter">Fork me on GitHub</a></span>
    
    
    You can also buy me a beer by donating at

<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=ignatandrei@yahoo.com&item_name=Exporter&item_number=GitHub"  target="_blank">PayPal</a>

</body>
</html>
